<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- TL Tab -->
  <ion-tab title="TL" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/tl">
    <ion-nav-view name="tab-tl"></ion-nav-view>
  </ion-tab>

  <!-- Info Tab -->
  <ion-tab title="Info" icon-off="ion-flag" icon-on="ion-flag" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  
  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-at" icon-on="ion-at" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


</ion-tabs>
